@import '~styles/variables';

.chat-container {
  display: flex;
  flex-direction: row-reverse;

  .user-list {
    margin-left: .5em;

    li {
      padding: .25em .5em;
    }
  }
}

.chat {
  $bottom-margin: .5em;

  background: $gray-lighter;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: calc(100vh - .5em);
  justify-content: flex-end;
  margin-bottom: .5em;

  .text-output {
    overflow-y: auto;
  }

  .text-input {
    flex: 0 0 auto;
    height: 40px;

    input, button {
      border-radius: 0 0 5px 5px;
    }
  }

  .message {
    background-color: $brand-success;
    border-radius: 5px;
    clear: both;
    color: $white;
    float: left;
    margin: .25em 1em;
    max-width: 75%;
    padding: .25em .5em;

    &:last-child {
      margin-bottom: 2em;
    }

    &.own {
      background-color: $brand-primary;
      float: right;
    }

    &.other .sender {
      color: darken($brand-success, 33);
      display: block;
      font-size: .75em;
    }
  }
}
