@import '~styles/variables';

.login {
  margin: 15% auto 0;
  text-align: center;
  width: 50%;

  input {
    margin-bottom: .5em;
    width: 100%;
  }

  .validation {
    text-align: left;
    color: $brand-danger;
  }

  button {
    width: 100%;
  }
}
